link(rel='stylesheet', href='style.css')
head
    a(href="/")= `Home Page`
    br
body
    ul
        for row in rows
            li= `Title: ${row.title}, Genre: ${row.genre}, ISBN: ${row.isbn}, Pages: ${row.num_pages} Price:${row.price}, Stock:${row.stock},  `