link(rel='stylesheet', href='style.css')
head
    a(href="/")= `Home Page`
    br
body
    ul
        for row in rows
            li= `Title: ${row.title}, Genre: ${row.genre}, ISBN: ${row.isbn}, Pages: ${row.num_pages} Price:${row.price}, Stock:${row.stock},  `
            form(action='/orderBook' method="post")
                p How many of copies would you like to add to cart? 
                    input(type="text" name= "quantity" required)
                    input(type="hidden" name ="isbn" value = `${row.isbn}`)
                    input(type="hidden" name ="title" value = `${row.title}`)
                button(type="submit") Add book to cart